<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for PokerBot" Description="Code analysis rules for PokerBot.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="CS0028" Action="None" />
    <Rule Id="CS0078" Action="None" />
    <Rule Id="CS0105" Action="None" />
    <Rule Id="CS0108" Action="None" />
    <Rule Id="CS0109" Action="None" />
    <Rule Id="CS0114" Action="None" />
    <Rule Id="CS0162" Action="None" />
    <Rule Id="CS0164" Action="None" />
    <Rule Id="CS0168" Action="None" />
    <Rule Id="CS0183" Action="None" />
    <Rule Id="CS0184" Action="None" />
    <Rule Id="CS0197" Action="None" />
    <Rule Id="CS0219" Action="None" />
    <Rule Id="CS0251" Action="None" />
    <Rule Id="CS0252" Action="None" />
    <Rule Id="CS0253" Action="None" />
    <Rule Id="CS0278" Action="None" />
    <Rule Id="CS0279" Action="None" />
    <Rule Id="CS0280" Action="None" />
    <Rule Id="CS0282" Action="None" />
    <Rule Id="CS0402" Action="None" />
    <Rule Id="CS0419" Action="None" />
    <Rule Id="CS0420" Action="None" />
    <Rule Id="CS0435" Action="None" />
    <Rule Id="CS0436" Action="None" />
    <Rule Id="CS0437" Action="None" />
    <Rule Id="CS0440" Action="None" />
    <Rule Id="CS0458" Action="None" />
    <Rule Id="CS0464" Action="None" />
    <Rule Id="CS0465" Action="None" />
    <Rule Id="CS0469" Action="None" />
    <Rule Id="CS0472" Action="None" />
    <Rule Id="CS0473" Action="None" />
    <Rule Id="CS0612" Action="None" />
    <Rule Id="CS0618" Action="None" />
    <Rule Id="CS0626" Action="None" />
    <Rule Id="CS0628" Action="None" />
    <Rule Id="CS0642" Action="None" />
    <Rule Id="CS0652" Action="None" />
    <Rule Id="CS0657" Action="None" />
    <Rule Id="CS0658" Action="None" />
    <Rule Id="CS0659" Action="None" />
    <Rule Id="CS0660" Action="None" />
    <Rule Id="CS0661" Action="None" />
    <Rule Id="CS0665" Action="None" />
    <Rule Id="CS0672" Action="None" />
    <Rule Id="CS0675" Action="None" />
    <Rule Id="CS0684" Action="None" />
    <Rule Id="CS0693" Action="None" />
    <Rule Id="CS0728" Action="None" />
    <Rule Id="CS0809" Action="None" />
    <Rule Id="CS0811" Action="None" />
    <Rule Id="CS0824" Action="None" />
    <Rule Id="CS1030" Action="None" />
    <Rule Id="CS1058" Action="None" />
    <Rule Id="CS1062" Action="None" />
    <Rule Id="CS1064" Action="None" />
    <Rule Id="CS1066" Action="None" />
    <Rule Id="CS1072" Action="None" />
    <Rule Id="CS1522" Action="None" />
    <Rule Id="CS1570" Action="None" />
    <Rule Id="CS1571" Action="None" />
    <Rule Id="CS1572" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1574" Action="None" />
    <Rule Id="CS1580" Action="None" />
    <Rule Id="CS1581" Action="None" />
    <Rule Id="CS1584" Action="None" />
    <Rule Id="CS1587" Action="None" />
    <Rule Id="CS1589" Action="None" />
    <Rule Id="CS1590" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1592" Action="None" />
    <Rule Id="CS1616" Action="None" />
    <Rule Id="CS1633" Action="None" />
    <Rule Id="CS1634" Action="None" />
    <Rule Id="CS1635" Action="None" />
    <Rule Id="CS1645" Action="None" />
    <Rule Id="CS1658" Action="None" />
    <Rule Id="CS1668" Action="None" />
    <Rule Id="CS1685" Action="None" />
    <Rule Id="CS1687" Action="None" />
    <Rule Id="CS1690" Action="None" />
    <Rule Id="CS1692" Action="None" />
    <Rule Id="CS1695" Action="None" />
    <Rule Id="CS1696" Action="None" />
    <Rule Id="CS1697" Action="None" />
    <Rule Id="CS1700" Action="None" />
    <Rule Id="CS1701" Action="None" />
    <Rule Id="CS1702" Action="None" />
    <Rule Id="CS1710" Action="None" />
    <Rule Id="CS1711" Action="None" />
    <Rule Id="CS1712" Action="None" />
    <Rule Id="CS1717" Action="None" />
    <Rule Id="CS1718" Action="None" />
    <Rule Id="CS1720" Action="None" />
    <Rule Id="CS1723" Action="None" />
    <Rule Id="CS1734" Action="None" />
    <Rule Id="CS1735" Action="None" />
    <Rule Id="CS1762" Action="None" />
    <Rule Id="CS1927" Action="None" />
    <Rule Id="CS1956" Action="None" />
    <Rule Id="CS1957" Action="None" />
    <Rule Id="CS1974" Action="None" />
    <Rule Id="CS1981" Action="None" />
    <Rule Id="CS1998" Action="None" />
    <Rule Id="CS2002" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
    <Rule Id="CS4014" Action="None" />
    <Rule Id="CS4024" Action="None" />
    <Rule Id="CS4025" Action="None" />
    <Rule Id="CS4026" Action="None" />
    <Rule Id="CS7022" Action="None" />
    <Rule Id="CS7033" Action="None" />
    <Rule Id="CS7035" Action="None" />
    <Rule Id="CS7080" Action="None" />
    <Rule Id="CS7081" Action="None" />
    <Rule Id="CS7082" Action="None" />
    <Rule Id="CS7090" Action="None" />
    <Rule Id="CS7095" Action="None" />
    <Rule Id="CS8001" Action="None" />
    <Rule Id="CS8002" Action="None" />
    <Rule Id="CS8009" Action="None" />
    <Rule Id="CS8012" Action="None" />
    <Rule Id="CS8018" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8020" Action="None" />
    <Rule Id="CS8021" Action="None" />
    <Rule Id="CS8029" Action="None" />
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS8033" Action="None" />
    <Rule Id="CS8034" Action="None" />
    <Rule Id="CS8040" Action="None" />
    <Rule Id="CS8073" Action="None" />
    <Rule Id="CS8094" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarLint.CSharp" RuleNamespace="SonarLint.CSharp">
    <Rule Id="S1066" Action="None" />
    <Rule Id="S1067" Action="None" />
    <Rule Id="S107" Action="None" />
    <Rule Id="S108" Action="None" />
    <Rule Id="S1116" Action="None" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1118" Action="None" />
    <Rule Id="S1121" Action="None" />
    <Rule Id="S1125" Action="None" />
    <Rule Id="S1134" Action="None" />
    <Rule Id="S1135" Action="None" />
    <Rule Id="S1145" Action="None" />
    <Rule Id="S1155" Action="None" />
    <Rule Id="S1172" Action="None" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S122" Action="None" />
    <Rule Id="S1226" Action="None" />
    <Rule Id="S1244" Action="None" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S127" Action="None" />
    <Rule Id="S131" Action="None" />
    <Rule Id="S1313" Action="None" />
    <Rule Id="S1449" Action="None" />
    <Rule Id="S1479" Action="None" />
    <Rule Id="S1481" Action="None" />
    <Rule Id="S1541" Action="None" />
    <Rule Id="S1643" Action="None" />
    <Rule Id="S1656" Action="None" />
    <Rule Id="S1659" Action="None" />
    <Rule Id="S1697" Action="None" />
    <Rule Id="S1699" Action="None" />
    <Rule Id="S1764" Action="None" />
    <Rule Id="S1848" Action="None" />
    <Rule Id="S1854" Action="None" />
    <Rule Id="S1862" Action="None" />
    <Rule Id="S1871" Action="None" />
    <Rule Id="S1905" Action="None" />
    <Rule Id="S1939" Action="None" />
    <Rule Id="S1940" Action="None" />
    <Rule Id="S1994" Action="None" />
    <Rule Id="S2123" Action="None" />
    <Rule Id="S2219" Action="None" />
    <Rule Id="S2223" Action="None" />
    <Rule Id="S2225" Action="None" />
    <Rule Id="S2228" Action="None" />
    <Rule Id="S2234" Action="None" />
    <Rule Id="S2275" Action="None" />
    <Rule Id="S2290" Action="None" />
    <Rule Id="S2291" Action="None" />
    <Rule Id="S2292" Action="None" />
    <Rule Id="S2306" Action="None" />
    <Rule Id="S2326" Action="None" />
    <Rule Id="S2328" Action="None" />
    <Rule Id="S2333" Action="None" />
    <Rule Id="S2344" Action="None" />
    <Rule Id="S2345" Action="None" />
    <Rule Id="S2346" Action="None" />
    <Rule Id="S2360" Action="None" />
    <Rule Id="S2368" Action="None" />
    <Rule Id="S2372" Action="None" />
    <Rule Id="S2376" Action="None" />
    <Rule Id="S2387" Action="None" />
    <Rule Id="S2437" Action="None" />
    <Rule Id="S2486" Action="None" />
    <Rule Id="S2551" Action="None" />
    <Rule Id="S2674" Action="None" />
    <Rule Id="S2681" Action="None" />
    <Rule Id="S2692" Action="None" />
    <Rule Id="S2696" Action="None" />
    <Rule Id="S2737" Action="None" />
    <Rule Id="S2743" Action="None" />
    <Rule Id="S2757" Action="None" />
    <Rule Id="S2758" Action="None" />
    <Rule Id="S2761" Action="None" />
    <Rule Id="S2930" Action="None" />
    <Rule Id="S2931" Action="None" />
    <Rule Id="S2933" Action="None" />
    <Rule Id="S2934" Action="None" />
    <Rule Id="S2952" Action="None" />
    <Rule Id="S2953" Action="None" />
    <Rule Id="S2955" Action="None" />
    <Rule Id="S2971" Action="None" />
    <Rule Id="S2995" Action="None" />
    <Rule Id="S2996" Action="None" />
    <Rule Id="S2997" Action="None" />
    <Rule Id="S3005" Action="None" />
    <Rule Id="S3052" Action="None" />
    <Rule Id="S3168" Action="None" />
    <Rule Id="S3169" Action="None" />
    <Rule Id="S3172" Action="None" />
    <Rule Id="S3215" Action="None" />
    <Rule Id="S3216" Action="None" />
    <Rule Id="S3217" Action="None" />
    <Rule Id="S3218" Action="None" />
    <Rule Id="S3220" Action="None" />
    <Rule Id="S3234" Action="None" />
    <Rule Id="S3235" Action="None" />
    <Rule Id="S3236" Action="None" />
    <Rule Id="S3237" Action="None" />
    <Rule Id="S3240" Action="None" />
    <Rule Id="S3244" Action="None" />
    <Rule Id="S3246" Action="None" />
    <Rule Id="S3249" Action="None" />
    <Rule Id="S3253" Action="None" />
    <Rule Id="S3254" Action="None" />
    <Rule Id="S3262" Action="None" />
    <Rule Id="S3263" Action="None" />
    <Rule Id="S3376" Action="None" />
    <Rule Id="S3397" Action="None" />
    <Rule Id="S3427" Action="None" />
    <Rule Id="S818" Action="None" />
    <Rule Id="S907" Action="None" />
    <Rule Id="S927" Action="None" />
  </Rules>
</RuleSet>